@mixin from($width) {
     @media (min-width: $width) {
          @content;
     }
}

@mixin until($width) {
     @media (max-width: $width) {
          @content;
     }
}

@mixin size($width, $height: $width) {
     width: $width;
     height: $height;
}

@mixin backgroundProperties($size: cover, $position: center) {
     background-repeat: no-repeat;
     background-size: $size;
     background-position: $position;
}

@mixin flex($display: flex, $justify: center, $align: center) {
     display: $display;
     justify-content: $justify;
     align-items: $align;
}
