<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
        <meta name="description" content="Enter description here">
        <meta name="keywords" content="HTML, CSS, SCSS, JS, JAVASCRIPT, NODEJS, GULPJS, SSR">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="author" content="Milan Milic" >
        <!--    generete favicons-->
        <!--    <link rel="shortcut icon" href="/images/favicon.ico">-->
        <title>Document</title>
        <link rel="stylesheet"  type="text/css" media="all" href="css/critical.min.css" />
        <link rel="stylesheet"  type="text/css" media="all" href="css/main.min.css" />
        <script type="module" src="js/critical.min.js"></script>
        <title>Document</title>
    </head>
<body>
